{% extends 'layout.html' %}


{% block title %}
Buy stocks
{% endblock title %}


{% block main %}
<h1>Buy stocks</h1>
<p>Please specifiy the stock's symbol you want to buy</p>
<form action="/buy" method="post">
    <div class="form-group">
        <input class="form-control" type="text" name="stock_symbol" placeholder="Stock">
        <input class="form-control" type="number" name="shares">
    </div>
    <button class="btn btn-primary" type="submit" name="quote">Buy</button>
</form>
{% endblock main %}